<div class="panel panel-default" id="{{id}}">
	<div class="panel-heading" role="tab">
		<h4 class="panel-title">
			<a href="#pnl-{{id}}" class="" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-{{id}}">
				{{title}}
			</a>
		</h4>
	</div>
	<div class="panel-collapse collapse in" role="tabpanel" id="pnl-{{id}}" aria-labelledby="collapse-{{id}}" aria-expanded="true">
		{{{content}}}
	</div>
</div>
