{{#show}}
<div class="bs-mobile-more-menu dropdown {{class}}">
	<a type="button" class="btn dropdown-toggle bs-mobile-more-menu-button" title="{{title}}" href="#" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" ></a>
	<div class="dropdown-menu">
		<ul>
			{{#links}}
			<li><a href="{{href}}" {{#title}}title="{{.}}"{{/title}} {{#class}}class="{{.}}"{{/class}} ><i></i><span>{{text}}</span></a></li>
			{{/links}}
		</ul>
		<a type="button" class="btn dropdown-toggle bs-mobile-more-menu-button" title="{{title}}" href="#" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" ></a>
	</div>
</div>
{{/show}}
