<ul>
	<li class="dropdown {{listclass}}">
		<a class="dropdown-toggle" data-toggle="dropdown">
			<i class=" glyphicon {{iconclass}}"></i>
		</a>
		<ul class="dropdown-menu">{{{linklist}}}</ul>
	</li>
</ul>
