<div id="siteNotice">{{{sitenotice}}}</div>
<div class="bs-page-breadcrumbs pull-left">{{{breadcrumbs}}}</div>
<div class="bs-page-tools pull-right">{{{tools}}}</div>
<div class="visualClear"></div>
<div class="mw-indicators mw-body-content">{{{indicators}}}</div>{{! Indicators should be places directly above #firstHeading}}
<h1 id="firstHeading" class="firstHeading" lang="{{{lang}}}">{{{firstheading}}}</h1>
<div id="mw-page-header-links">{{{headerlinks}}}</div>
<div class="visualClear"></div>
