<div class="mw-body-content" id="bodyContent">
	<div id="contentSub">
		{{{contentsub}}}
	</div>
	<div id="siteSub">
		{{{sitesub}}}
	</div>
	{{{contenttext}}}
	<div class="visualClear"></div>
</div>
