<div class="bs-panel panel-default{{#classes}} {{.}}{{/classes}}" id="{{id}}"{{#data}} data-{{key}}="{{value}}"{{/data}}>
	<div class="panel-heading" role="tab">
		<h4 class="bs-panel-title">
			<a class="tool {{#icon-cls}} icon-{{.}} {{/icon-cls}}" title="{{tooltip}}">{{label}}</a>
			<a href="#pnl-{{id}}" class="title" role="button" aria-expanded="true" {{#toggle-collapse}}data-toggle="collapse" aria-controls="collapse-{{id}}"{{/toggle-collapse}}>
				<span class="trigger {{trigger-type}}"><i class="trigger-icon"></i></span><i class="icon-{{icon}}"></i><span class="title">{{title}}</span><span class="badge">{{badge}}</span>
			</a>
		</h4>
	</div>
	<div class="panel-collapse collapse in" role="tabpanel" id="pnl-{{id}}" aria-labelledby="collapse-{{id}}" aria-expanded="true">{{{body}}}</div>
</div>
