<div class="bs-pageassignment-assignment-graphicallistitem" bs-data-type="{{pa_assignee_type}}" >
	<div class="bs-pageassignments-assignment-image">
		{{{image}}}
	</div>
	<div class="bs-pageassignments-assignment-content">
		<h3>{{text}}</h3>
	</div>
</div>
