<table border="0" width="100%">
	<tr>
		<td colspan="2" style="font-size:.9em; color: #72777D; font-weight: normal; padding-top: 15px;">
			{{category}}<br />
			<hr style="background-color:#FFFFFF; color:#FFFFFF; border: 1px solid #EAECF0;" />
			{{#events}}
				<tr>
					<td width="30">
						<img src="{{icon-url}}" width="25" height="25" style="vertical-align:middle;">
					</td>
					<td style="font-size:.9em; color: #54595D;">
						{{text}}
					</td>
				</tr>
			{{/events}}
		</td>
	</tr>
</table>