<div class="btn-group {{#groupClasses}}{{.}}{{/groupClasses}}">
	<button type="button" class="btn {{#classes}}{{.}} {{/classes}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="icon"></i><span class="btn-text">{{{text}}}</span><span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		{{#items}}
			{{#link}}
			<li>
				<a href="{{href}}" title="{{title}}" id="{{id}}">{{text}}</a>
			</li>
			{{/link}}
			{{#separator}}
			<li role="separator" class="divider"></li>
			{{/separator}}
			{{#header}}
			<li class="dropdown-header">{{.}}</li>
			{{/header}}
		{{/items}}
	</ul>
</div>
