<!DOCTYPE html>
<html>
<head>
	<style>
		body {
			width: 900px;
		}
	</style>
</head>
<body>
<h1>{{title}}</h1>
{{#groups}}
	<h2>{{name}}</h2>
	<ul>
	{{#items}}
		<li>
			{{#.}}
				{{{.}}}
			{{/.}}
		</li>
	{{/items}}
	</ul>
{{/groups}}
</body>