/*
	IE Fixes
*/

@media screen and (max-width: 1580px) and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	header.main-header .calumma-desktop-visible.navbar .p-search form {
		padding-left: 0px !important;
	}
}


@media screen and (min-width: 1000px) and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	body .navigation-main #bs-sitenavtabs ul.nav-pills a > i::before {
		font-size: 2rem !important;
	}
	body .sitetools-main #bs-toolpanetabs ul.nav-pills a > i::before {
		font-size: 2rem !important;
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.x-tab-inner-default, .x-form-item-label-text, .x-form-text-default, .x-grid-item, .x-panel-body-default, .x-box-item,
	.x-btn-inner, .x-btn-button {
		font-size: 12px !important;
	}
}
