#panelPermissionManager {
	height: 800px;
}

#panelPermissionManager.fullscreen {
	height: auto !important;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.allowed {
	background-color: greenyellow !important;
}

.blocked {
	background-color: #b9b9b9 !important;
}

/* HINT: http://www.sencha.com/forum/showthread.php?89050-Displaying-grid-header-fields-form-grid-vertically&p=424452&viewfull=1#post424452 */
.x-column-header.vertical {
	height: 100px!important;
}

.x-column-header.vertical {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	width: 75px;
}

.ext-ie .x-column-header.vertical {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	position: absolute;
	left: 25px;
	bottom: 20px;
}

.x-column-header.vertical {
	text-align: right;
	font-weight: bold;
	border-left-color: #fff;
}

/* Part of BS.panel.Maximizable */
html.bs-maximizable-panel-fullscreen {
	overflow: hidden;
}

.bs-pm-actioncolumn-icon {
	font-size: 14px;
}

.bs-pm-checkcolumn p {
	height: auto;
	word-wrap: break-word;
	display:none;
	border:1px solid #5a6c9b;
	position:absolute;
	width: 80px;
	font-size: 12px;
	margin-left: -5px;
	background-color: white;
	padding: 5px !important;
	white-space: normal;
	line-height: normal;
}

.x-toolbar {
	padding-bottom: 20px;
}

.x-btn-toolbar {
	border: 1px solid #202020 !important;
}

.bs-grid-panel-roles{
	padding-left: 2px;
}

.x-window-body {
	background-color: transparent !important;
}

.bs-grid-panel-roles tr{
	height: 40px !important;
}

.bs-grid-panel-roles tr td {
	vertical-align: middle;
}

.x-tool {
	background-color: #3e538a;
	border-radius: 20px;
	float:right;
}

.x-grid-rolehint {
	display: none;
}

.icon-custom-group:before {
	content: '\f0c0';
	font-family: 'fontawesome';
	color: #a5a5a5;
}

.icon-builtin-group:before {
	content: '\f0c0';
	font-family: 'fontawesome';
}

.namespace-column .x-column-header-inner {
	height: 85px;
	padding: 0px;
}

.global-namespace-column .x-column-header-inner {
	height: 120px;
	padding: 0;
}

.namespace-column .x-column-header-text,
.global-namespace-column .x-column-header-text{
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	display: inherit;
	height: 65px;
	width: 85px;
	vertical-align: middle;
}

.namespace-column .x-column-header-text span,
.x-column-header-text .x-column-header-text span{
	display:block;
	width: 80px;
	text-align: center;
	word-wrap: break-word;
	white-space: normal ;
	vertical-align: middle;
	display: block;
}