<div class="bs-countcharacters" title="{{title}}">
<table class="wikitable">
    <tr><th colspan="2">{{{titlelink}}}</th></tr>
{{#content}}
    <tr><th>{{label}}</th><td>{{count}}</td></tr>
{{/content}}
  </table>
</div>