<Canvas id="{{canvasid}}" width=900px style={{style}}/>
<ul id="{{canvasidtags}}">
{{#content}}
	<li>
		<a href="{{link}}" text="{{name}}" data-weight="{{weight}}">{{name}}{{#showcount}}<span class="counter">({{count}})</span>{{/showcount}}</a>
	</li>
{{/content}}
</ul>